.text-ellipsis {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inputFocusOutlineNone:focus {
    outline: none;

}

.hover-opacity-1:hover {
    opacity: 1 !important;
}

.hover-opacity-80p:hover {
    opacity: 0.8 !important;
}

.hover-color-main:hover {
    color: var(--main);
}

.hover-color-second:hover {
    color: var(--second);
}

.hover-background-color-dark-10p:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.hover-background-color-128-15p:hover {
    background-color: rgba(128, 128, 128, 0.15) !important;
}

.hover-boder-radius-5px:hover {
    border-radius: 5px;
}

.dangerousBox img {
    width: 100%;
}

.dangerousBox a {
    text-decoration: underline;
}

@media (min-width:992px) {
    .mw992px-grid-reverse {

        flex-direction: row-reverse;
    }
}

@media (min-width:1200px) {
    .mw1200px-grid-reverse {

        flex-direction: row-reverse;
    }
}