:root {
  --background: #fdefcd;
  --main: #2d66d3;
  --second: #e0f1ff;
  --title: #c26b4a;
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.35;
}

body {
  background-color: var(--background);
  color: #444;
}

div {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
}

.flexWrap-wrap {
  flex-wrap: wrap;
}

.searchTool {
  border-radius: 5px;
}

.searchTool .title {
  width: max-content;
  margin: 15px 0;
  line-height: 1.25;
  font-weight: 500;
}

.searchTool .title h2 {
  color: #2d66d3 !important;
}

.searchTool .title h1 {
  font-weight: 500;
  border-left: 2px solid;
  height: 40px;
  padding: 0 5px;
  line-height: 55px;
  border-color: var(--main) !important;
}

.searchTool .grid_box {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}

.searchTool .grid_box .selectbox {
  position: relative;
  padding: 5px;
}

.searchTool .grid_box .selectbox select {
  width: 100%;
  height: 60px;
  font-size: 1.1rem;
  border: none;
  box-shadow: 1px 1px 5px 0px #888;
  border-radius: 5px;
  padding: 0 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.searchTool .grid_box .selectbox select option {
  z-index: 0;
}

.searchTool .grid_box .selectbox select:hover {
  background-color: #f0f0f0;
}

.searchTool .grid_box .selectbox p {
  margin-right: 10px;
}

.searchTool .grid_box .selectbox .area {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--second);
  color: #133b3a;
  width: 100%;
  box-shadow: 0px 0px 5px #888;
  border-radius: 5px;
  padding: 1px;
  z-index: 5;
}

.searchTool .grid_box .selectbox .area .area_titles {
  width: 100px;
}

.searchTool .grid_box .selectbox .area .area_titles .area_title {
  background-color: white;
  margin: 1px;
  height: 30px;
  line-height: 30px;
  padding: 0px 2.5px;
  cursor: pointer;
}

.searchTool .grid_box .selectbox .area .area_titles .area_title p {
  height: 30px;
  line-height: 40px;
}

.searchTool .grid_box .selectbox .area .area_titles .area_title_select {
  border-right: 2px solid var(--main);
  font-weight: 600;
  color: var(--main);
}

.searchTool .grid_box .selectbox .area .area_children {
  margin: 1px;
  background-color: white;
  width: calc(100% - 100px);
  padding: 0 5px;
}

.searchTool .grid_box .selectbox .area .area_children .area_title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.searchTool .grid_box .selectbox .area .area_children .area_title p {
  display: flex;
}

.searchTool .grid_box .selectbox .area .area_children .area_title p svg {
  width: 20px;
  height: 20px;
  margin: 2.5px;
  position: inherit;
  opacity: 0.5;
}

.searchTool .grid_box .selectbox .area svg {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 5px;
}

.searchTool .grid_box .selectbox .area_none {
  display: none;
}

.searchTool .button_search {
  width: max-content;
  height: max-content;
  margin: 20px auto;
  transform: scale(1.5);
}

.header {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.75);
}

.header .title {
  width: max-content;
  border-bottom: 1px solid;
  padding: 15px 15px 0 15px;
  margin: 0 5px;
  line-height: 1.25;
  cursor: pointer;
  color: var(--main);
}

.header .menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: var(--background);
  font-size: 1.1rem;
  color: var(--main);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.header .menu .item {
  position: relative;
}

.header .menu .item .children {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  top: 0;
  left: 0;
  z-index: 2;
}

.header .menu .item .children_on {
  height: calc(5 * 36px);
}

.header .menu p {
  cursor: pointer;
  line-height: 36px;
  height: 36px;
  text-align: center;
}

.header .menu p svg {
  width: 25px;
  height: 25px;
  margin: -5px 5px;
}

.header .menu p:hover {
  color: #133b3a;
}

.header .menu .header_input {
  display: flex;
  width: max-content;
  height: max-content;
  margin: 5px auto;
}

.header .menu .header_input input {
  margin: 0;
  border: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.025);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 10px;
  width: 200px;
}

.header .menu .header_input input:focus {
  outline: none;
}

.header .menu .header_input svg {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 7.5px;
  background: var(--main);
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header .menuOff {
  display: none;
}

.header .buttonOff {
  display: block;
}

.header .menuicon {
  margin: 0px 0 auto auto;
  width: max-content;
}

@media (min-width: 768px) {
  .header .menu {
    width: max-content;
    height: max-content;
    position: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    margin: -10px 0 0 auto;
    background: transparent;
  }
  .header .menu p {
    width: max-content;
    display: flex;
    padding: 2.5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .header .menu p svg {
    margin: 5px;
  }
  .header .menu .header_input {
    margin: 5px;
  }
  .header .menu .item {
    width: 130px;
  }
  .header .menu .item .children {
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    background-color: white;
  }
  .header .menu .item .children p {
    width: 100%;
  }
  .header .menu .item .children_on {
    height: calc(6 * 41px);
  }
  .header .buttonOff {
    display: none;
  }
  .header .menuOff {
    display: flex;
  }
}

.contain .containRight {
  width: 100%;
  padding: 0px 0 25px;
}

.contain .containRight .coverPicture {
  width: 100%;
  height: 500px;
  background: url("/img/cover1.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.contain .containRight .coverPicture .slogan {
  position: absolute;
  bottom: 0;
  right: 0;
  text-shadow: 0px 0px 5px black;
  color: white;
  text-align: center;
}

.contain .containRight .coverPicture .slogan h2 {
  font-size: 2rem;
  height: max-content;
  line-height: 0.75;
  letter-spacing: 5px;
}

.contain .containRight .coverPicture .slogan h2 p {
  letter-spacing: 1px;
}

.contain .containRight .items {
  padding-bottom: 20px;
}

.contain .containRight .items .item {
  box-shadow: 0px 0px 5px #aaa;
  border-radius: 5px;
  background-color: white;
}

.contain .containRight .items .item .cover {
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 1.25;
}

.contain .containRight .items .item .text {
  margin: 5px;
  line-height: 1.5;
}

.contain .containRight .items .item .text h4 {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--main);
}

.contain .containRight .items .item .text h4 span {
  font-weight: normal;
  font-size: 75%;
}

.contain .containRight .items .item .text p {
  font-size: 85%;
  font-weight: bold;
  opacity: 0.75;
}

.contain .containRight .items .item .text p span {
  font-weight: normal;
  font-size: 75%;
}

.contain .containRight .items .item .text .content_text {
  margin: 10px 0;
  font-weight: normal;
  height: 150px;
  overflow: hidden;
  opacity: 1;
  line-height: 1.75;
  letter-spacing: 0.5px;
}

.contain .containRight .items .item .text .content_text h1 {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .contain {
    display: flex;
    flex-direction: row-reverse;
  }
  .contain .containRight {
    width: calc(100% - 375px);
    padding: 0;
  }
}

.contain_V2 {
  overflow-x: hidden;
  width: 100%;
}

.contain_V2 .cover {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  max-height: 700px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.contain_V2 .cover .cover_left {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url("/img/cover3.jpg") no-repeat center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.5s;
}

.contain_V2 .cover .cover_right {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url("/img/cover2.jpg") no-repeat center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.5s;
}

.contain_V2 .cover .cover_hover {
  transform: scale(1.01);
}

.contain_V2 .cover .cover_dark_hover {
  background-blend-mode: color;
}

.contain_V2 .cover .cover_title {
  position: absolute;
  bottom: 0;
  width: 49vw;
  max-width: max-content;
  height: max-content;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px #888;
  transition: all 0.5s;
  transform: translateY(100%);
  cursor: pointer;
}

.contain_V2 .cover .cover_title h3 {
  color: var(--title);
  margin: 20px 0px 25px;
}

.contain_V2 .cover .cover_title h4 {
  font-size: 1rem;
  opacity: 0.9;
}

.contain_V2 .cover .cover_title_right {
  right: 0;
}

.contain_V2 .cover .cover_title_hover {
  transform: translateY(0%);
  left: auto;
  right: 0;
}

.contain_V2 .cover .cover_title_hover_left {
  transform: translateY(0%);
  left: 0;
  right: auto;
}

@media (min-width: 768px) {
  .contain_V2 .cover {
    flex-direction: row;
  }
}

.contain_V2 .slogan {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: calc(50vw - 160px);
  width: max-content;
  height: 140vh;
  max-height: 1000px;
  text-shadow: 1px 1px 3px #444;
  color: #f1f5f7;
}

.contain_V2 .slogan .slogan_box {
  position: sticky;
  height: 150px;
  top: 350px;
}

.contain_V2 .slogan .slogan_box h2 {
  letter-spacing: 10px;
  line-height: 1.5;
}

@media (min-width: 575px) {
  .contain_V2 .slogan {
    font-size: 25px;
    left: calc(50vw - 190px);
  }
}

@media (min-width: 768px) {
  .contain_V2 .slogan {
    font-size: 30px;
    left: calc(50vw - 220px);
  }
}

@media (min-width: 992px) {
  .contain_V2 .slogan {
    font-size: 35px;
    left: calc(50vw - 250px);
  }
}

@media (min-width: 1200px) {
  .contain_V2 .slogan {
    font-size: 40px;
    left: calc(50vw - 280px);
  }
}

.contain_V2 .about {
  min-height: 400px;
  padding-top: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 100px;
}

.contain_V2 .about .title {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.contain_V2 .about .title h2 {
  color: #ee827d;
}

.contain_V2 .about .title h1 {
  color: #133b3a;
  font-weight: 500;
  padding: 0 5px;
  border-left: 3px solid #ee827d;
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
}

.contain_V2 .about .title .title_button {
  width: 90%;
  max-width: 275px;
  margin: 10px 0;
}

.contain_V2 .about p {
  width: 90%;
  margin: auto;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
}

.contain_V2 .about .buttons {
  width: 90%;
  display: flex;
  max-width: 575px;
  margin: 100px auto 0;
}

.contain_V2 .about .about_text {
  padding: 50px 0;
  max-width: 1200px;
  text-align: left;
  font-size: 15px;
  line-height: 1.75;
}

.contain_V2 .about .content_news {
  text-align: center;
}

.contain_V2 .about .content_news h2 {
  margin-bottom: 5px;
}

.contain_V2 .about .content_news .category {
  width: max-content;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
}

.contain_V2 .about .content_news .category p {
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  border-radius: 15px;
  margin: 0 5px;
  background-color: var(--main);
  color: white;
}

.contain_V2 .about .content_news .text {
  padding: 50px 0;
  width: 90%;
  max-width: 992px;
  margin: auto;
  text-align: justify;
}

.contain_V2 .div_items {
  padding: 5% 0;
}

.contain_V2 .div_items .title {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.contain_V2 .div_items .title h2 {
  color: #ee827d;
}

.contain_V2 .div_items .title h1 {
  color: #133b3a;
  font-weight: 500;
  padding: 0 5px;
  border-left: 3px solid #ee827d;
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
}

.contain_V2 .div_items .title .title_button {
  width: 90%;
  max-width: 275px;
  margin: 10px 0;
}

.contain_V2 .div_items .items {
  width: 90%;
  margin: 50px auto 0;
  max-width: 1200px;
}

.contain_V2 .div_items .items .item {
  width: 100%;
  padding: 1% 1% 2%;
}

.contain_V2 .div_items .items .item .cover {
  width: 100%;
  height: 300px;
  position: relative;
}

.contain_V2 .div_items .items .item .item_title {
  margin-top: 20px;
}

.contain_V2 .div_items .items .item .item_title h3 {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.contain_V2 .div_items .items .item .item_title h4 {
  opacity: 0.75;
}

.contain_V2 .div_items .items .item .item_title .contentTitle {
  margin: 20px 0;
  height: 75px;
}

.contain_V2 .div_items .items .item .item_title .tag {
  display: flex;
  margin-top: 15px;
}

.contain_V2 .div_items .items .item .item_title .tag p {
  width: 75px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 0 15px;
  text-align: center;
  margin: 0 5px 0 0;
}

.contain_V2 .div_items .items .item .item_title .tag svg {
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
  margin: 0 0 0 auto;
}

.contain_V2 .div_items_bg_none {
  background-color: rgba(255, 255, 255, 0.75);
}

.contain_V2 .div_items_bg_blue {
  background-color: var(--second);
  height: 700px;
}

@media (min-width: 768px) {
  .contain_V2 .about .title .title_button {
    margin: -40px 10px auto auto;
  }
  .contain_V2 .about .about_text {
    font-size: 17px;
  }
  .contain_V2 .div_items .title .title_button {
    margin: -40px 10px auto auto;
  }
  .contain_V2 .div_items .items {
    display: flex;
  }
  .contain_V2 .div_items .items .item {
    width: 50%;
    padding: 2%;
  }
  .contain_V2 .div_items .items .item_title {
    margin-top: 20px;
  }
  .contain_V2 .div_items .items .item_title h4 {
    opacity: 0.75;
  }
  .contain_V2 .div_items .items .item_title .contentTitle {
    margin: 20px 0;
    height: 75px;
  }
  .contain_V2 .div_items .items .item_title .tag {
    display: flex;
    margin-top: 15px;
  }
  .contain_V2 .div_items .items .item_title .tag p {
    width: 75px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    border-radius: 15px;
    padding: 0 15px;
    text-align: center;
    margin: 0 5px 0 0;
  }
  .contain_V2 .div_items .items .item_title .tag svg {
    border-radius: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 0 0 0 auto;
  }
}

.footer {
  position: relative;
  background-color: white;
  padding: 2.5%;
  justify-content: center;
}

.footer .column {
  color: #666;
  font-size: 14px;
}

.footer .column h2 {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer .column p {
  margin-bottom: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .column {
    width: 175px;
    margin: 5px;
    font-size: 16px;
  }
}

.footer .top_button {
  position: absolute;
  top: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--main);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: large;
  opacity: 0.25;
  cursor: pointer;
}

.footer .top_button:hover {
  opacity: 0.75;
}

.archivePage {
  min-height: calc(100vh - 100px);
}

.archivePage .div_items {
  padding: 5% 0;
}

.archivePage .div_items .title {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.archivePage .div_items .title h2 {
  color: #ee827d;
}

.archivePage .div_items .title h1 {
  color: #133b3a;
  font-weight: 500;
  padding: 0 5px;
  border-left: 3px solid #ee827d;
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
}

.archivePage .div_items .title .title_button {
  width: max-content;
  margin: 10px 0;
}

.archivePage .div_items .title .region {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.archivePage .div_items .title .region .region_title {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  max-width: 200px;
  text-align: center;
  background-color: white;
  cursor: pointer;
  font-weight: bolder;
}

.archivePage .div_items .title .region .region_title_select,
.archivePage .div_items .title .region .region_title:hover {
  background-color: var(--main);
  color: white;
}

.archivePage .div_items .items {
  width: 90%;
  margin: 50px auto 0;
  max-width: 1200px;
}

.archivePage .div_items .items .item {
  padding: 10px;
  margin: 25px 0;
}

.archivePage .div_items .items .item .item_frame {
  height: 100%;
  position: relative;
  cursor: pointer;
}

.archivePage .div_items .items .item .item_frame .cover {
  width: 100%;
  aspect-ratio: 1.5;
  position: relative;
  overflow: hidden;
}

.archivePage .div_items .items .item .item_frame .cover img {
  transition: all 0.25s;
}

.archivePage .div_items .items .item .item_frame .cover:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}

.archivePage .div_items .items .item .item_frame .item_title {
  margin-top: 20px;
}

.archivePage .div_items .items .item .item_frame .item_title p {
  word-wrap: break-word;
}

.archivePage .div_items .items .item .item_frame .item_title .tag {
  display: flex;
  margin-top: 15px;
}

.archivePage .div_items .items .item .item_frame .item_title .tag p {
  width: 75px;
  height: 30px;
  line-height: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 0 15px;
  text-align: center;
  margin: 0 5px 0 0;
}

.archivePage .div_items .items .item .item_frame .item_title .tag svg {
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
  margin: 0 0 0 auto;
}

.archivePage .div_items .items .item .item_frame .item_title .tag p:hover,
.archivePage .div_items .items .item .item_frame .item_title .tag svg:hover {
  background-color: var(--main);
  color: white;
}

.detailPage {
  min-height: calc(100vh - 100px);
  padding: 50px 0;
}

.detailPage .breadcum {
  display: flex;
  max-width: 992px;
  margin: auto;
}

.detailPage .breadcum h4 {
  margin: 0px 5px;
  cursor: pointer;
}

.detailPage .breadcum h4:hover {
  text-decoration: underline;
}

.detailPage .title {
  text-align: center;
  line-height: 1;
  padding: 20px 0 0;
}

.detailPage .item {
  background-color: white;
  width: 90%;
  max-width: 768px;
  margin: 0 auto 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #333;
}

.detailPage .item .image {
  width: 30%;
}

.detailPage .item .content {
  width: 70%;
  font-size: 15px;
  line-height: 1.5;
  padding: 10px;
}

.detailPage .item .content h4 {
  font-size: 110%;
  margin-bottom: 5px;
}

.detailPage .item .content li {
  font-size: 90%;
  opacity: 0.75;
}

.detailPage .item .content p {
  margin-top: 5px;
  font-size: 90%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailPage .detail {
  width: 90%;
  max-width: 992px;
  margin: 50px auto 0;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  line-height: 1.5;
}

.detailPage .detail h1 {
  font-size: 1.25rem;
}

.detailPage .detail h2 {
  font-size: 1.15rem;
}

.detailPage .detail h2 span {
  font-size: 75%;
  opacity: 0.75;
}

.detailPage .detail h3 {
  font-size: 0.9rem;
  color: darkcyan;
}

.detailPage .detail h3 span {
  opacity: 0.75;
}

.detailPage .detail h4 {
  font-size: 1rem;
  color: var(--main);
}

.detailPage .detail .detail_apply {
  width: 90%;
  max-width: 575px;
  margin: 25px auto;
}

.detailPage .detail .content {
  padding: 0;
  margin: auto;
}

.detailPage .detail .content .text {
  padding-top: 25px;
}

.detailPage .detail .content .text div {
  margin: 10px 0;
}

.detailPage .detail .content .dangerousBox {
  min-height: 400px;
}

.detailPage .detail .content .dangerousBox p {
  margin-bottom: 1em;
}

.detailPage .detail .content_news {
  text-align: center;
}

.detailPage .detail .content_news h2 {
  margin-bottom: 5px;
}

.detailPage .detail .content_news .category {
  width: max-content;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
}

.detailPage .detail .content_news .category p {
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  border-radius: 15px;
  margin: 0 5px;
  background-color: var(--main);
  color: white;
}

.detailPage .detail .content_news .text {
  width: 90%;
  max-width: 768px;
  margin: auto;
  text-align: justify;
}

@media (min-width: 575px) {
  .detailPage .detail h1 {
    font-size: 1.5rem;
  }
  .detailPage .detail h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  .detailPage .detail h3 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .detailPage .detail {
    padding: 50px;
  }
  .detailPage .detail h4 {
    font-size: 1rem;
  }
}

.detailPage .apply .apply_item {
  margin-bottom: 10px;
}

.detailPage .apply .apply_item h4 {
  width: 100px;
  line-height: 24px;
}

.detailPage .apply .apply_item p {
  font-weight: 500;
}

.detailPage .apply .apply_item p span {
  font-weight: normal;
  font-size: 75%;
}

@media (min-width: 575px) {
  .detailPage .apply .apply_item {
    display: flex;
  }
}

.detailPage .button {
  width: 250px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: var(--main);
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 50px auto;
  cursor: pointer;
}

.detailPage .title_facility {
  background-color: var(--main);
  color: white;
  width: max-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 20px;
  margin-left: calc(5% + 25px);
}

.facilityPage {
  background-color: var(--second);
}

.facilityPage .detail {
  width: 90%;
  max-width: 992px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  line-height: 1.5;
}

.facilityPage .detail .content {
  padding: calc(5% + 25px);
}

.facilityPage .detail .content h1 {
  margin-bottom: 30px;
  color: var(--main);
}

.facilityPage .detail .content h2 {
  margin-bottom: 0px;
  opacity: 0.75;
}

.facilityPage .detail .content h3 {
  margin-bottom: 0px;
  font-size: 1.25rem;
  color: inherit;
}

.facilityPage .detail .content .facility_name {
  color: inherit;
}

.facilityPage .detail .content .image_box {
  width: 100%;
  margin-bottom: 20px;
}

.facilityPage .detail .content .image_box .image {
  width: 100%;
  position: relative;
}

.facilityPage .detail .content .image_box svg {
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  position: absolute;
  width: 50px;
  height: 50px;
  backdrop-filter: brightness(1);
}

.facilityPage .detail .content .content_title {
  margin-bottom: 20px;
}

.facilityPage .detail .content .content_title .social_icon {
  width: max-content;
}

.facilityPage .detail .content .content_title .social_icon svg,
.facilityPage .detail .content .content_title .social_icon img {
  width: 25px;
  height: 25px;
  margin: 10px 5px 10px 0;
}

.facilityPage .detail .content .content_title .social_icon svg:hover {
  color: inherit;
}

.facilityPage .detail .content .altImage {
  width: 100%;
  aspect-ratio: 2.5;
  background-color: #aaa;
  border-radius: 5px;
}

.facilityPage .detail .content .altImage h1 {
  color: white;
  margin: 0;
}

.searchPage {
  background-color: var(--second);
  padding: 50px 0;
}

.searchPage .title {
  width: 100%;
  text-align: center;
}

.searchPage .content {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.searchPage .content .item {
  background-color: white;
  margin: 5% 0;
  padding: 5%;
  border-radius: 5px;
}

.searchPage .content .item .item-col {
  width: 100%;
  padding: 10px;
  position: relative;
}

.searchPage .content .item .item-col h2 {
  margin-bottom: 10px;
  color: var(--main);
}

.searchPage .content .item .item-col h3 {
  margin-bottom: 5px;
}

.searchPage .content .item .item-col h4 {
  opacity: 0.5;
}

.searchPage .content .item .item-col p {
  font-size: 0.9rem;
  margin: 20px 0;
  border-radius: 20px;
  height: 20px;
  line-height: 20px;
  background-color: var(--main);
  color: white;
  width: max-content;
  padding: 5px 20px;
}

.searchPage .content .item .item-col .item-content {
  width: 100%;
  min-height: 100px;
  margin-top: 30px;
  border-radius: 5px;
}

.searchPage .content .item .item-col .item-content h3 {
  margin-bottom: 5px;
  color: var(--main);
}

.searchPage .content .item .item-col .item-content h4 {
  font-weight: normal;
  margin-bottom: 5px;
}

.searchPage .content .item .item-col .item-content h4 span {
  font-weight: bold;
}

.searchPage .content .item .item-col .item-content p {
  background-color: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.searchPage .content .item .item-img {
  overflow: hidden;
  aspect-ratio: 1.5;
}

.searchPage .content .item .button {
  width: max-content;
  margin: 25px auto;
}

@media (min-width: 768px) {
  .searchPage .content .item {
    display: flex;
    flex-wrap: wrap;
  }
  .searchPage .content .item .item-col {
    width: 50%;
  }
}

.contact {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 5%;
  max-width: 992px;
}
