:root {
  --background: #e6f7ff;
  --main: #016699;
  --second: #33bbff;
}

.grid_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid_box .grid_child {
  margin: 20px 0px 0px 20px;
}

.xs0 {
  width: 0%;
  overflow: hidden;
  margin: 0;
}

.xs2 {
  width: calc(((100% - 20px) / (12 / 2)) - 20px);
}

.xs3 {
  width: calc(((100% - 20px) / (12 / 3)) - 20px);
}

.xs4 {
  width: calc(((100% - 20px) / (12 / 4)) - 20px);
}

.xs6 {
  width: calc(((100% - 20px) / (12 / 6)) - 20px);
}

.xs8 {
  width: calc(((100% - 20px) / (12 / 8)) - 20px);
}

.xs9 {
  width: calc(((100% - 20px) / (12 / 9)) - 20px);
}

.xs12 {
  width: calc(((100% - 20px) / (12 / 12)) - 20px);
}

@media (min-width: 575px) {
  .sm1 {
    width: calc(((100% - 20px) / (12 / 1)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm2 {
    width: calc(((100% - 20px) / (12 / 2)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm3 {
    width: calc(((100% - 20px) / (12 / 3)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm4 {
    width: calc(((100% - 20px) / (12 / 4)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm5 {
    width: calc(((100% - 20px) / (12 / 5)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm6 {
    width: calc(((100% - 20px) / (12 / 6)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm7 {
    width: calc(((100% - 20px) / (12 / 7)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm8 {
    width: calc(((100% - 20px) / (12 / 8)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm9 {
    width: calc(((100% - 20px) / (12 / 9)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm10 {
    width: calc(((100% - 20px) / (12 / 10)) - 20px);
  }
}

@media (min-width: 575px) {
  .sm11 {
    width: calc(((100% - 20px) / (12 / 11)) - 20px);
  }
}

@media (min-width: 768px) {
  .md1 {
    width: calc(((100% - 20px) / (12 / 1)) - 20px);
  }
}

@media (min-width: 768px) {
  .md2 {
    width: calc(((100% - 20px) / (12 / 2)) - 20px);
  }
}

@media (min-width: 768px) {
  .md3 {
    width: calc(((100% - 20px) / (12 / 3)) - 20px);
  }
}

@media (min-width: 768px) {
  .md4 {
    width: calc(((100% - 20px) / (12 / 4)) - 20px);
  }
}

@media (min-width: 768px) {
  .md5 {
    width: calc(((100% - 20px) / (12 / 5)) - 20px);
  }
}

@media (min-width: 768px) {
  .md6 {
    width: calc(((100% - 20px) / (12 / 6)) - 20px);
  }
}

@media (min-width: 768px) {
  .md7 {
    width: calc(((100% - 20px) / (12 / 7)) - 20px);
  }
}

@media (min-width: 768px) {
  .md8 {
    width: calc(((100% - 20px) / (12 / 8)) - 20px);
  }
}

@media (min-width: 768px) {
  .md9 {
    width: calc(((100% - 20px) / (12 / 9)) - 20px);
  }
}

@media (min-width: 768px) {
  .md10 {
    width: calc(((100% - 20px) / (12 / 10)) - 20px);
  }
}

@media (min-width: 768px) {
  .md11 {
    width: calc(((100% - 20px) / (12 / 11)) - 20px);
  }
}

@media (min-width: 768px) {
  .md12 {
    width: calc(((100% - 20px) / (12 / 12)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg1 {
    width: calc(((100% - 20px) / (12 / 1)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg2 {
    width: calc(((100% - 20px) / (12 / 2)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg3 {
    width: calc(((100% - 20px) / (12 / 3)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg4 {
    width: calc(((100% - 20px) / (12 / 4)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg5 {
    width: calc(((100% - 20px) / (12 / 5)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg6 {
    width: calc(((100% - 20px) / (12 / 6)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg7 {
    width: calc(((100% - 20px) / (12 / 7)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg8 {
    width: calc(((100% - 20px) / (12 / 8)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg9 {
    width: calc(((100% - 20px) / (12 / 9)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg10 {
    width: calc(((100% - 20px) / (12 / 10)) - 20px);
  }
}

@media (min-width: 992px) {
  .lg11 {
    width: calc(((100% - 20px) / (12 / 11)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl1 {
    width: calc(((100% - 20px) / (12 / 1)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl2 {
    width: calc(((100% - 20px) / (12 / 2)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl3 {
    width: calc(((100% - 20px) / (12 / 3)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl4 {
    width: calc(((100% - 20px) / (12 / 4)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl5 {
    width: calc(((100% - 20px) / (12 / 5)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl6 {
    width: calc(((100% - 20px) / (12 / 6)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl7 {
    width: calc(((100% - 20px) / (12 / 7)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl8 {
    width: calc(((100% - 20px) / (12 / 8)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl9 {
    width: calc(((100% - 20px) / (12 / 9)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl10 {
    width: calc(((100% - 20px) / (12 / 10)) - 20px);
  }
}

@media (min-width: 1200px) {
  .xl11 {
    width: calc(((100% - 20px) / (12 / 11)) - 20px);
  }
}

* {
  margin: 0;
}

body {
  background-color: var(--background);
}

div {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
}

.flexWrap-wrap {
  flex-wrap: wrap;
}

.searchTool {
  width: 100%;
  background: linear-gradient(0deg, #2D66D3, #5CBCE0);
  color: white;
  padding: 50px 5%;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .searchTool {
    max-width: 375px;
  }
}

.searchTool .title {
  width: max-content;
  border-bottom: 1px solid;
  margin: 15px 0;
  line-height: 1.25;
}

.searchTool .selectbox {
  margin: 10px 0;
  max-width: 375px;
  position: relative;
}

.searchTool .selectbox li {
  font-weight: bold;
  font-size: 1.5rem;
}

.searchTool .selectbox li::marker {
  display: none !important;
}

.searchTool .selectbox select {
  width: 100%;
  height: 40px;
  font-size: 1.1rem;
}

.searchTool .selectbox select option {
  z-index: 0;
}

.searchTool .selectbox p {
  margin-right: 10px;
}

.searchTool .selectbox .area {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--background);
  color: black;
  min-width: 100%;
  max-width: 500px;
  width: calc(100vw - 70px);
  box-shadow: 0px 0px 5px #888;
  border-radius: 5px;
  padding: 1px;
  z-index: 5;
}

.searchTool .selectbox .area .area_titles {
  width: 100px;
}

.searchTool .selectbox .area .area_titles .area_title {
  background-color: white;
  margin: 1px;
  height: 30px;
  line-height: 40px;
  padding: 0px 2.5px;
  cursor: pointer;
}

.searchTool .selectbox .area .area_titles .area_title_select {
  border-right: 2px solid var(--second);
  font-weight: 600;
  color: var(--second);
}

.searchTool .selectbox .area .area_children {
  margin: 1px;
  background-color: white;
  width: calc(100% - 100px);
  padding: 0 5px;
}

.searchTool .selectbox .area .area_children p {
  display: flex;
}

.searchTool .selectbox .area .area_children p svg {
  width: 20px;
  height: 20px;
  margin: 1px;
  position: inherit;
  opacity: 0.5;
}

.searchTool .selectbox .area svg {
  position: absolute;
  top: 0px;
  right: 0px;
}

.searchTool .selectbox .area_none {
  display: none;
}

.searchTool button {
  width: 100px;
  height: 30px;
  background-color: white;
  margin: 20px auto;
  color: var(--main);
  font-size: 1rem;
  border: inherit;
  cursor: pointer;
  box-shadow: 0px 0px 5px #222;
  border-radius: 5px;
  font-weight: bold;
}

.header {
  height: 100px;
  background-color: white;
}

.header .title {
  width: max-content;
  border-bottom: 1px solid;
  padding: 15px 15px 0 15px;
  margin: 0 5px;
  line-height: 1.25;
  cursor: pointer;
  color: var(--main);
}

.header .menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: white;
  font-size: 1.1rem;
  color: var(--main);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.header .menu .item {
  position: relative;
}

.header .menu .item .children {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  top: 0;
  left: 0;
  z-index: 2;
}

.header .menu .item .children_on {
  height: calc(5 * 36px);
}

.header .menu p {
  cursor: pointer;
  line-height: 50px;
  height: 36px;
  text-align: center;
}

.header .menu p svg {
  width: 25px;
  height: 25px;
  margin: -5px 5px;
}

.header .menu p:hover {
  color: var(--second);
}

.header .menu .header_input {
  display: flex;
  width: max-content;
  height: max-content;
  margin: 5px auto;
}

.header .menu .header_input input {
  margin: 0 5px;
}

.header .menu .header_input svg {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 1px;
  background: var(--main);
  color: white;
}

.header .menuOff {
  display: none;
}

.header .buttonOff {
  display: block;
}

.header .menuicon {
  margin: 0px 0 auto auto;
  width: max-content;
}

@media (min-width: 768px) {
  .header .menu {
    width: max-content;
    height: max-content;
    position: inherit;
    background: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    margin: -5px 0 0 auto;
  }
  .header .menu p {
    width: max-content;
    display: flex;
    padding: 5px 10px;
    font-size: 0.90rem;
  }
  .header .menu p svg {
    margin: 7.5px 2.5px;
  }
  .header .menu .header_input {
    margin: 5px;
  }
  .header .menu .item {
    width: 130px;
  }
  .header .menu .item .children {
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    background-color: var(--background);
  }
  .header .menu .item .children p {
    width: 100%;
  }
  .header .menu .item .children_on {
    height: calc(6 * 46px);
  }
  .header .buttonOff {
    display: none;
  }
  .header .menuOff {
    display: flex;
  }
}

.contain .containRight {
  width: 100%;
  padding: 0px 0 25px;
}

.contain .containRight .coverPicture {
  width: 100%;
  height: 500px;
  background: url("/img/cover1.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.contain .containRight .coverPicture .slogan {
  position: absolute;
  bottom: 0;
  right: 0;
  text-shadow: 0px 0px 5px black;
  color: white;
  text-align: center;
}

.contain .containRight .coverPicture .slogan h2 {
  font-size: 2rem;
  height: max-content;
  line-height: 0.75;
  letter-spacing: 5px;
}

.contain .containRight .coverPicture .slogan h2 p {
  letter-spacing: 1px;
}

.contain .containRight .items {
  padding-bottom: 20px;
}

.contain .containRight .items .item {
  box-shadow: 0px 0px 5px #aaa;
  border-radius: 5px;
  background-color: white;
}

.contain .containRight .items .item .cover {
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 1.25;
}

.contain .containRight .items .item .text {
  margin: 5px;
  line-height: 1.5;
}

.contain .containRight .items .item .text h4 {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--main);
}

.contain .containRight .items .item .text h4 span {
  font-weight: normal;
  font-size: 75%;
}

.contain .containRight .items .item .text p {
  font-size: 85%;
  font-weight: bold;
  opacity: 0.75;
}

.contain .containRight .items .item .text p span {
  font-weight: normal;
  font-size: 75%;
}

.contain .containRight .items .item .text .content_text {
  margin: 10px 0;
  font-weight: normal;
  height: 150px;
  overflow: hidden;
  opacity: 1;
  line-height: 1.75;
  letter-spacing: 0.5px;
}

.contain .containRight .items .item .text .content_text h1 {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .contain {
    display: flex;
    flex-direction: row-reverse;
  }
  .contain .containRight {
    width: calc(100% - 375px);
    padding: 0;
  }
}

.footer {
  background-color: white;
  padding: 10px;
}

.footer .column {
  color: var(--main);
}

.footer .column li {
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
  }
  .footer .column {
    width: 150px;
    margin: 0 25px;
    font-size: 17px;
  }
}

.searchPage,
.detailPage {
  padding: 5px;
  min-height: calc(100vh - 100px);
}

.searchPage .title,
.detailPage .title {
  text-align: center;
  line-height: 1;
  padding: 20px 0 0;
}

.searchPage .item,
.detailPage .item {
  background-color: white;
  width: 90%;
  max-width: 768px;
  margin: 0 auto 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #333;
}

.searchPage .item .image,
.detailPage .item .image {
  width: 30%;
}

.searchPage .item .content,
.detailPage .item .content {
  width: 70%;
  font-size: 15px;
  line-height: 1.5;
  padding: 10px;
}

.searchPage .item .content h4,
.detailPage .item .content h4 {
  font-size: 110%;
  margin-bottom: 5px;
}

.searchPage .item .content li,
.detailPage .item .content li {
  font-size: 90%;
  opacity: 0.75;
}

.searchPage .item .content p,
.detailPage .item .content p {
  margin-top: 5px;
  font-size: 90%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchPage .detail,
.detailPage .detail {
  width: 100%;
  max-width: 768px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 1%;
  line-height: 1.5;
}

.searchPage .detail .image,
.detailPage .detail .image {
  width: 90%;
  margin: 20px auto;
}

.searchPage .detail .content,
.detailPage .detail .content {
  width: 90%;
  margin: 20px auto;
}

.searchPage .detail .content li,
.detailPage .detail .content li {
  opacity: 0.75;
}

.searchPage .detail .content .text,
.detailPage .detail .content .text {
  margin: 15px 0;
  text-align: justify;
}

.searchPage .detail .content .text h1,
.detailPage .detail .content .text h1 {
  font-size: 100%;
}

.searchPage .detail .content .text div,
.detailPage .detail .content .text div {
  opacity: 0.9;
  margin: 10px 0;
}

.searchPage {
  width: 100%;
  overflow: hidden;
}

.searchPage .searchPage_max {
  display: flex;
  width: max-content;
  transition: all 0.5s;
  transform: translateX(-380px);
}

.searchPage .searchPage_max .search_tool_div {
  width: 365px;
  position: relative;
}

.searchPage .searchPage_max .result_div {
  width: calc(100vw);
  overflow: hidden;
  position: relative;
}

.searchPage .searchPage_max .result_div .button_Search {
  width: max-content;
  margin: 0px auto 25px;
}

.searchPage .searchPage_max_open {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .searchPage .searchPage_max {
    transform: translateX(0);
    width: 100%;
  }
  .searchPage .searchPage_max .button_Search {
    display: none;
  }
  .searchPage .searchPage_max .result_div {
    width: calc(100% - 365px);
    margin: 0 auto;
  }
}
